h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.map {
    display: flex;
    height: 100vh;
    width: 100%;

}

.map__image-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-width: 0;
    background-color: grey;
}

.map__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.map__about {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 10px;
    flex-shrink: 0;
    background-color: #ffffff;
}

.map__about-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.map__about-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 7px 4px 0;
}

.map__about-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.map__about-item-avatar {
    height: 55px;
    width: 55px;
    flex-shrink: 0;
}

.map__about-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width: 1101px) {
    .map__about-list {
        overflow-y: auto;
        max-height: 100%;
    }
}

@media screen and (max-width: 1100px) {
    h4 {
        font-size: 14px;
    }

    .map {
        height: auto;
        flex-direction: column;
    }

    .map__about-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .map__about-item {
        padding: 3px 7px 3px 0;
        gap: 7px;
    }

    .map__about-item-avatar {
        height: 50px;
        width: 50px;
    }

    .map__about {
        width: 100%;
        padding: 15px;
        gap: 30px;
        justify-content: start;
        align-items: flex-start;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    h4 {
        font-size: 12px;
    }

    .map__about-item {
        padding: 2px 7px 2px 0;
        gap: 5px;
    }

    .map__about-item-avatar {
        height: 45px;
        width: 45px;
    }

    .map__about {
        gap: 0;
        padding: 10px;
        flex-direction: column;
    }

    .map__about-list {
        display: flex;
        flex-direction: column;
    }
}
