@font-face {
    font-family: 'NauryzRedKeds';
    src: url('../fonts/NAURYZREDKEDS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'NauryzRedKeds', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    color: #ffffff;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.place {
    display: flex;
    height: 100vh;
    width: 100%;

}

.place__image-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-width: 0;
    background-color: white;
}

.place__image {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.place__image.is-active {
    opacity: 1;
}

.place__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 10px;
    flex-shrink: 0;
    background-color: #ffffff;
}

.place__about-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.place__about-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.place__about-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.place__about-item-avatar {
    height: 55px;
    width: 55px;
}

.place__about-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.place__about-address {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.place__about-address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.place__about-address-avatar {
    height: 55px;
    width: 55px;
}

.place__about-address-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.place__title {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    max-width: 500px;
    border-radius: 16px;
    z-index: 1;
}

.place__title-text {
    padding: 20px 15px;
}

.glass-morphism {
    backdrop-filter: blur(5px) brightness(0.8);
    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.05) 100%
    )
}

.map {
    display: flex;
    height: 100vh;
    width: 100%;

}

.map__image-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-width: 0;
    background-color: white;
}

.map__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.map__about {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 10px;
    flex-shrink: 0;
    background-color: #ffffff;
}

.map__about-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.map__about-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 7px 4px 0;
}

.map__about-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.map__about-item-avatar {
    height: 55px;
    width: 55px;
    flex-shrink: 0;
}

.map__about-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width: 1101px) {
    .map__about-list {
        overflow-y: auto;
        max-height: 100%;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 14px;
    }

    .place {
        height: auto;
        flex-direction: column;
    }

    .place__image-wrapper {
        height: 70vh;
    }

    .place__about-item {
        padding: 7px;
        gap: 7px;
    }

    .place__about-address {
        padding: 7px;
        gap: 7px;
    }

    .place__about-item-avatar {
        height: 50px;
        width: 50px;
    }

    .place__about-address-avatar {
        height: 50px;
        width: 50px;
    }

    .place__about {
        width: 100%;
        padding: 15px;
        gap: 30px;
        justify-content: start;
        align-items: flex-start;
        flex-direction: row;
    }

    .place__title {
        top: 17px;
        left: 17px;
        max-width: 400px;
        border-radius: 14px;
    }

    .place__title-text {
        padding: 15px 10px;
    }

    .map {
        height: auto;
        flex-direction: column;
    }

    .map__image-wrapper {
        height: 70vh;
    }

    .map__about-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .map__about-item {
        padding: 3px 7px 3px 0;
        gap: 7px;
    }

    .map__about-item-avatar {
        height: 50px;
        width: 50px;
    }

    .map__about {
        width: 100%;
        padding: 15px;
        gap: 30px;
        justify-content: start;
        align-items: flex-start;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 12px;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    .place__about-item {
        padding: 5px;
        gap: 5px;
    }

    .place__about-address {
        padding: 5px;
        gap: 5px;
    }

    .place__about-item-avatar {
        height: 45px;
        width: 45px;
    }

    .place__about-address-avatar {
        height: 45px;
        width: 45px;
    }

    .place__about {
        gap: 0;
        padding: 10px;
        flex-direction: column;
    }

    .place__title {
        top: 15px;
        left: 15px;
        max-width: 250px;
        border-radius: 14px;
    }

    .place__title-text {
        padding: 15px 10px;
    }

    .map__about-item {
        padding: 2px 7px 2px 0;
        gap: 5px;
    }

    .map__about-item-avatar {
        height: 45px;
        width: 45px;
    }

    .map__about {
        gap: 0;
        padding: 10px;
        flex-direction: column;
    }

    .map__about-list {
        display: flex;
        flex-direction: column;
    }
}
